<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    #banner{
      width: 100%;
      height: 360px;
      object: fit cover;;
    }
  </style>
  <title>Career Website</title>
  
</head>
<body>
  <div class="container">
  <h1 class="text-center mt-2 mb-3">Arsh Media Careers</h1>
  <img id="banner" class="img-fluid"src="https://career-website--arshpreetsing29.repl.co/static/Banner.jpg">
  <h2 class="text-center mt-2 mb-3"> About Arsh Media</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Est sit amet facilisis magna etiam tempor. Pulvinar elementum integer enim neque. Nec ultrices dui sapien eget. Sit amet luctus venenatis lectus magna fringilla. Consequat ac felis donec et odio pellentesque. Non odio euismod lacinia at. Adipiscing elit ut aliquam purus sit amet. Mi proin sed libero enim sed. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Enim facilisis gravida neque convallis a cras semper auctor. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Fusce ut placerat orci nulla pellentesque. Nisi quis eleifend quam adipiscing.
</p>
<h2 class="text-center mt-2 mb-3">Open Positions</h2>
  <div >
    {% for job in jobs %}
    {% include 'jobitem.html' %}
    {% endfor %}
  </div>
    <div class="text-center">
<button type="button" class="btn btn-outline-primary">Contact US</button>
      <p class="mt-4">Copyright 2023</p>
  </div>
  </div>

  
  
</body>
</html>